<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
<div class="container">
    <div>
        <h1>Список товаров</h1>
        <table class="table">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th><a class="btn btn-success" href="/product/edit/">Добавить</a></th>
                <th></th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.title}">...</td>
                <td th:text="${product.cost}">...</td>
                <td><a class="btn btn-primary" th:href="@{'/product/edit/' + ${product.id} }">Изменить</a></td>
                <td><a class="btn btn-danger" th:href="@{'/product/delete/' + ${product.id} }">Удалить</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>